<div class ="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-12">
				<h1> Past Order  </h1>
				<% @orders.each do |o| %>

					<h3> Restaurant Name </h3>
					<%= o.name %>
					<% @o.itemorder.each do |oi| %>
						<h4> <%= o.oi.name %>  Quantity : <%= o.oi.qty %> Price : <%= o.oi.price %> </h4>
						<% end %>
					<h4> Total Price : <%= o.total %> </h4>
					<hr>
					<% end %>

			</div>	
		</div>
	</div>
</div>	